<div class="field">
  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: '---' } %>
</div>

<div class="field">
  <%= form.label :condition_id %>
  <%= form.collection_select :condition_id, Condition.all, :id, :name, { prompt: '---' } %>
</div>

<div class="field">
  <%= form.label :shipping_cost_id %>
  <%= form.collection_select :shipping_cost_id, ShippingCost.all, :id, :name, { prompt: '---' } %>
</div>

<div class="field">
  <%= form.label :prefecture_id %>
  <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '---' } %>
</div>

<div class="field">
  <%= form.label :shipping_time_id %>
  <%= form.collection_select :shipping_time_id, ShippingTime.all, :id, :name, { prompt: '---' } %>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.number_field :price, required: true %>
</div>
